<div class="main-container background">
  <div class="content-container">
    <div class="content-area">
      <div class="expanded" [ngStyle]="{'opacity': opacityForClass('expanded') }"></div>
      <div class="preferences" [ngStyle]="{'opacity': opacityForClass('preferences') }"></div>
      <div class="preferences-expanded" [ngStyle]="{'opacity': opacityForClass('preferences-expanded') }"></div>
      <div class="info clr-row">
        <div class="clr-col-xs-12 clr-col-md-4">
          <h1>Countdowns</h1>
          <p class="p1">Countdown to events that are important to you. Birthdays, Holidays, Valentine's day, or next Blockbuster
            movie premiere. Keep them at the glance in your status menus.</p>
          <p> <a href="https://itunes.apple.com/app/countdowns/id1415311616"><img src="../../assets/countdowns/download-on-the-mac-app-store.svg"></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
