service cloud.firestore {
  match /databases/{database}/documents {
  	match /savings/{id} {
      allow list, delete: if false;
      allow get, create, update;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
