<clr-datagrid>
  <clr-dg-column>Month</clr-dg-column>
  <clr-dg-column>Amount</clr-dg-column>
  <clr-dg-column>Completion</clr-dg-column>
  <clr-dg-column>Forcasted amount</clr-dg-column>
  <clr-dg-column>Forcasted completion</clr-dg-column>
  <clr-dg-row *ngFor="let month of months; let i = index">
    <clr-dg-cell>{{ month.name }}</clr-dg-cell>
    <clr-dg-cell>
      <input type="number" class="form-control" [(ngModel)]="month.amount">
    </clr-dg-cell>
    <clr-dg-cell>{{ (month.amount / monthlyGoal()) | percent:'1.2-2' }}</clr-dg-cell>
    <clr-dg-cell>{{ forcastedAmount(month, i) | currency:goal.currency:'symbol' }}</clr-dg-cell>
    <clr-dg-cell>{{ (forcastedAmount(month, i) / monthlyGoal()) | percent:'1.2-2' }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row class="footer">
    <clr-dg-cell>Sum</clr-dg-cell>
    <clr-dg-cell>{{ amountSum() | currency:goal.currency:'symbol' }}</clr-dg-cell>
    <clr-dg-cell>{{ (amountSum() / goal.amount) | percent:'1.2-2' }}</clr-dg-cell>
    <clr-dg-cell>{{ forecastedAmountSum() | currency:goal.currency:'symbol' }}</clr-dg-cell>
    <clr-dg-cell>{{ (forecastedAmountSum() / goal.amount) | percent:'1.2-2' }}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
<button class="btn btn-primary" type="submit" (click)="onSubmit()">Save changes</button>
