<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="/savings" class="nav-link">
        <clr-icon shape="coin-bag"></clr-icon>
        <span class="title">Savings (WIP)</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <app-savings-datagrid [goal]="goal" [months]="months"></app-savings-datagrid>
    </div>
    <nav class="sidenav">
      <app-savings-config-panel [amount]="goal.amount" [currency]="goal.currency" [months]="goal.months" [startingMonth]="goal.startingMonth"
        [startingYear]="goal.startingYear" (config)="onConfig($event)"></app-savings-config-panel>
    </nav>
  </div>
</div>
