<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a [routerLink]="" class="nav-link">
        <clr-icon shape="piggy-bank"></clr-icon>
        <span class="title">Savings</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="/savings" target="_blank" clrDropdownItem>Create new...</a>
          <a target="_blank" (click)="onShare()" clrDropdownItem>Download image for share...</a>
          <div class="dropdown-divider"></div>
          <a href="/" target="_blank" clrDropdownItem>visit tomakeornottomake.com</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area" #top>
      <div #contentAreaTop></div>
      <app-savings-info-header [message]="message" [type]="messageType"></app-savings-info-header>
      <app-savings-datagrid [goal]="goal" [months]="months" (save)="onSave()"></app-savings-datagrid>
    </div>
    <nav class="sidenav">
      <app-savings-config-panel [amount]="goal.amount" [currency]="goal.currency" [months]="goal.months"
        [startingMonth]="goal.startingMonth" [startingYear]="goal.startingYear" (config)="onConfigChange($event)"></app-savings-config-panel>
    </nav>
  </div>
</div>
