<main style="box-sizing: unset;">
  <div>
    <div class="siimple-jumbotron theme-header siimple-jumbotron--extra-small" align="center">
      <div class="siimple-jumbotron-title">
        <span class="siimple--text-normal" style="word-spacing: -8px;">To Make Or Not To Make.</span>
      </div>
      <div class="theme-horizontal-line"></div>
      <div class="siimple-jumbotron-subtitle">Created by <span class="siimple-brand">Kamil Powałowski</span> under <span class="siimple-brand">Hydra Softworks</span> brand.</div>
    </div>
    <div class="siimple-content siimple-content--large siimple--py-5" align="center">
      <div class="siimple--py-4">
        <div class="siimple-h3 siimple--text-normal siimple--mb-5">
          My answer:
        </div>
        <div class="products siimple--clearfix" align="center">
          <a class="products-item" align="center" href="https://lizt.co" target="_blank" >
            <div class="products-item-title">lizt.co</div>
            <div class="products-item-description">Webservice to create and share checklists.</div>
          </a>
          <a class="products-item" align="center" href="/countdowns" target="_blank" >
            <div class="products-item-title">Countdowns</div>
            <div class="products-item-description">Keep track on what's important to you every time you use your macOS.</div>
          </a>
          <a class="products-item" align="center" href="https://medium.com/mvp-blog" target="_blank" >
            <div class="products-item-title">MVP&nbsp;Blog</div>
            <div class="products-item-description">Make your products better and faster using minimum viable product strategy.</div>
          </a>
          <a class="products-item" align="center" href="https://upboard.app" target="_blank" >
            <div class="products-item-title">UpBoard</div>
            <div class="products-item-description">Board Games Companion mobile app available on iOS and Android.</div>
          </a>
          <a class="products-item" align="center" href="/savings" target="_blank" >
            <div class="products-item-title">Savings</div>
            <div class="products-item-description">Track your savings/earnings goals without need to sign in.</div>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="theme-footer siimple-footer--large">
    <div class="siimple-grid-row">
      <div class="siimple-grid-col siimple-grid-col--12 siimple-grid-col--sm-12" align="right">
        <a target="_blank" class="theme-footer-link theme-footer-link--inline"
          href="https://github.com/kamilpowalowski">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" class="theme-footer-link theme-footer-link--inline"
          href="https://twitter.com/kamilpowalowski">
          <i class="fab fa-twitter"></i>
        </a>
        <a target="_blank" class="theme-footer-link theme-footer-link--inline"
          href="https://www.linkedin.com/in/kamil-powałowski-b955b651/">
          <i class="fab fa-linkedin"></i>
        </a>
        <a target="_blank" class="theme-footer-link theme-footer-link--inline"
          href="https://medium.com/@kamil.powalowski">
          <i class="fab fa-medium"></i>
        </a>
      </div>
    </div>
    <div class="theme-horizontal-line"></div>
    <div class="siimple-grid-row">
      <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12" align="left">
        © 2018-present <strong>Kamil Powałowski - Hydra Softworks</strong>
      </div>
    </div>
  </div>
</main>
