<main>
  <div class="intro">To Make Or Not To Make.</div>
  <div class="tagline">Here is my answer:</div>
  <div class="projects">
    <a target="_blank" href="https://lizt.co">lizt.co</a>
    <div>&nbsp;</div>
    <a target="_blank" href="/countdowns">Countdowns</a>
    <div>&nbsp;</div>
    <a target="_blank" href="/savings">Savings (WIP)</a>
  </div>
  <div class="icons-social">
    <a target="_blank" href="https://github.com/kamilpowalowski">
      <i class="fab fa-github"></i>
    </a>
    <a target="_blank" href="https://twitter.com/kamilpowalowski">
      <i class="fab fa-twitter"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/kamil-powałowski-b955b651/">
      <i class="fab fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://medium.com/@kamil.powalowski">
      <i class="fab fa-medium"></i>
    </a>
  </div>
</main>
